{
  "private": true,
  "scripts": {
    "dev": "slidev --port {{ preview_port }}",
    "build": "slidev build",
    "export": "slidev export --output {{ export_dir }}/slides.{{ export_ext }}"
  },
  "dependencies": {
    "@iconify-json/lucide": "^1.2.0",
    "@slidev/cli": "^52.19.1",
    "@slidev/theme-default": "^0.25.0"
  }
}
